* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 40px;
  color: rgba(186, 100, 19, 0.484);
  text-shadow: 1px 1px 2px orange;
}

.calc {
  border: 6px solid rgba(186, 100, 19, 0.484);
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  overflow: hidden;
  max-width: 320px;
}

.result {
  font-size: 34px;
  font-weight: bold;
  height: 40px;
  border: none;
}

.keypad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid rgba(197, 195, 195, 0.596);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button:hover {
  border: 2px solid #c5c3c3;
  background-color: rgba(255, 228, 196, 0.306);
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid rgba(197, 195, 195, 0.596);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: orange;
  background-color: rgba(170, 170, 170, 0.164);
}

.sign:hover {
  background-color: rgba(170, 170, 170, 0.546);
}

.number {
  color: black;
}

.equalSign {
  background-color: rgba(148, 0, 247, 0.457);
  color: white;
  padding: 2px;
}

.equalSign:hover {
  background-color: #9400f7;
}
/*# sourceMappingURL=mainStyle.css.map */